body {
    background-color: whitesmoke;
}

.navbar {
    background-color: #444541;
    height: 40px;
    margin: 0;
    padding: 0;
}

.mainContainerBG {
    background-image: url('/img/bg-masthead.png');
    height: 800px;
    background-repeat: no-repeat, repeat;
    background-size: cover;   
    width: 100%;
    margin: auto;
}
.gradient {
    background: linear-gradient(0deg, rgba(68,69,65,0.9136029411764706) 20%, rgba(191,189,173,0.7791491596638656) 100%);
    height: 100%;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: #FCDA40;
  
}

.userForm {
    margin-top: 20px;
}

#userEmail {
    padding: 9px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFEF6;
    color: #444541;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.0);
    text-shadow: 0px 0px 5px rgba(66,66,66,.0);
    width: 600px;
}

#buttonSignin {
    padding: 9px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FCDA40;
    color: #444541;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.0);
    text-shadow: 0px 0px 5px rgba(66,66,66,.0);
    width: 80px;
}

#buttonJoin {
    padding: 9px;
    font-size: 16px;
    border-width: 1px;
    border-color: #3DBA27;
    background-color: #3DBA27;
    color: #FFFEF6;
    border-style: solid;
    border-radius: 7px;
    width: 200px;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    color: #f39c12;

}

h4{
    font-family: 'Shadows Into Light', cursive;

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: #444541;
}

a {
    font-family: 'Roboto', sans-serif;
}

.container {
    width:960px;
    height: 400px;
    padding-top: 100px;
    
}

.testimoniosTitle {
    width:960px;
    text-align: center;
}

.testimonios {
    width:960px;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 100px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.testimoniosContent {
    display: flex;
    width:960px;
    height: 400px;
    margin-top: 50px;

}

.column {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.featuresColumn {
    width: 300px;
    text-align: center;}

.features {
    width:960px;
    height: 260px;
    margin-top: 60px;
    margin-bottom: 40px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.i {
    text-align: center;
}

.fullwidth {
    width: 100%;
    
}

.fila {
    display: flex;
    background-color: #FCDA40;
}

.fila_contains {
    width: 50%;
    padding-left: 120px;
    padding-right: 120px;
    margin: auto;
}

.imgHalf {
    width: 50%;
}

.profiles {
    border-radius: 50%;
    height: 240px;
}

.column h4 {
    text-align:center;
}

.column p {
    text-align:center;
}

.signUpform {
    text-align: center;
    min-height: 500px;
    background-image: url('/img/bg-masthead.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
    width: 100%;
    margin: auto;
    padding-top: 150px;
}

        
.header {
  background-color:  #1a0e0e;
  height: 64px;
}



.footer {
    background-color: #444541;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
}


.footer a {
    text-decoration: none;
    color: #FCDA40;
    margin-right: 10px;
}

.signUpform h2 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: #FCDA40;
    margin-bottom: 30px;
}

